.clearfix:after {
    content:"";
    display:block;
    clear:both;
   }

.margin-left-right-lrg {
    margin: 0 32px;
}
.nhsuk-header__logo a {
    display: block;
}
.nhsuk-breadcrumb {
    background-color: #ffffff;
    padding-bottom: 12px;
    padding-top: 12px;
}
.nhsuk-breadcrumb .nhsuk-back-link {
    margin-bottom: 0;
}
.nhsuk-width-container-fluid {
    margin: 0 16px;
    max-width: 100%;
}
nav {
    display: block;
    unicode-bidi: isolate;
}
div {
    display: block;
    unicode-bidi: isolate;
}
header {
    display: block;
    unicode-bidi: isolate;
    position: relative;
    max-width: 100%
}
.nhsuk-header__logo {
    float: left;
    margin-left: 16px;
}
.nhsuk-width-container, .nhsuk-header__container {
    max-width: 100% !important;
}

// Styles for the Prototype index page  //

.nhsuk-width-prstart-container {
    margin: 0 16px;
    max-width: 960px;
}
.nhsuk-main-wrapper {
    padding-top: 48px !important;
}
.nhsuk-card {
    margin-bottom: 40px;
    background: #ffffff;
    border: 1px solid #d8dde0;
    position: relative;
    width: 100%;
}
.nhsuk-card__content {
    padding: 32px;
}

// Styles for notification banners //

.govuk-notification-banner {
    border: 5px solid #1d70b8;
    margin-bottom: 30px;

    .govuk-notification-banner__content {
        padding: 20px;
    }
    .govuk-notification-banner__content>:last-child {
        margin-bottom: 0px;
    }
}

// styles for manage case //

.nhsuk-table .nhsuk-grid-column-one-third {
    padding: 0 0;
}
.ohs-status-pensioner {
    color:#007f3b;
    padding-right: 20px;
    display: block;
}
table.ohs-match-record-table-font-size .nhsuk-table__cell, table.ohs-match-record-table-font-size .nhsuk-table__head {
    font-size: 16px !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
}
table.ohs-match-record-table-font-size .nhsuk-table__cell .nhsuk-button--secondary {
    font-size: 16px !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    margin-bottom: 16px;
    padding: 8px 16px;
}
.ohs-table-no-last-row-border th, .ohs-table-no-last-row-border td, .ohs-table-no-last-row-border dt,.ohs-table-no-last-row-border dd {
    border-bottom: 0;
}
.remove-margin-bottom {
    margin-bottom: 0;
}
.ohs-match-highlight {
    background-color: #cce5d8;
}

// Timeline styles //

.nhsuk-timeline__events {
    border-left: 3px solid #005eb8;
    list-style-type: none;
    padding: 0;
    padding-left: 15px;
    margin-left: 16px;
    margin-top: 8px;
}
.nhsuk-timeline__events--entry {
    margin: 32px 0;
    padding-left: 28px;
    position: relative;
    top: -12px;
}
.nhsuk-timeline__title {
    display: inline;
    font-size: 20px;
    font-size: 1.5rem;
}
.nhsuk-timeline__date {
    font-size: 1rem;
    line-height: 1.25;
    margin-bottom: 18px;
}
.nhsuk-timeline__header > .flag {
    position: absolute;
    top: 11px;
    left: -32px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    background-size: calc(100% + 2px);
    background-position: center;
    height: 32px;
    width: 32px;
    outline: 4px solid #005eb8;
}
.nhsuk-timeline__byline {
    display: inline;
    color: #4c6272;
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: normal;
}
.nhsuk-details__summary-text {
    text-decoration: underline;
    font-size: 1rem;
    line-height: 1.5rem;
}

/****************  MVP-2 user flow screens ***************/
.nhsBSA-sidebar-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 99px);
    margin: 0 !important;
    padding: 0;
}

.nhsBSA-sidebar-container .nhsBSA-sidebar-wrapper {
    flex: 1 0 auto;
    display: flex;
}

.nhsBSA-sidebar-container .nhsBSA-sidebar-wrapper .nhsuk-header__navigation {
    //background-color: #d8dde0;
    width: 300px;
    order: -1;
    margin: 0;
    padding-left: 16px;
}
.nhsBSA-sidebar-container .nhsBSA-sidebar-wrapper .nhsBSA-sidebar-content {
    flex: 1;
    background-color: #f0f4f5;
    padding: 0px;
    margin: 0px;
}

// MVP 1 matched OHS record styles  \\

.nhsuk-card__content--secondary {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
.nhsuk-label--s {
    display: block;
}
.nhsuk-table__body a {
    color: #005eb8;
}
// Create S045 entitlement //

.govuk-notification-banner__header {
    padding: 2px 15px 5px;
    border-bottom: 1px solid transparent;
}
.govuk-notification-banner__title {
    font-size: 1.1875rem;
    line-height: 1.3157894737;
    margin: 0;
    padding: 0;
    color: #fff;
}
.govuk-notification-banner--success {
    border-color: #00703c;
    background-color: #00703c;
}
.govuk-notification-banner__content {
    color: #0b0c0c;
    padding: 15px;
    background-color: #fff;
}
.icon-svg-envelope {
    display: inline-block; 
    background-image: url('../images/icon-ver2-envelope.svg');
    background-size: contain; 
    background-repeat: no-repeat; 
    height: 16px; 
    width: 20px;  
    vertical-align: middle;
    margin-right: 6px;
}
.ms-received {
    background-image: url('../images/icon-received-envelope.svg');
    background-size: contain; 
    background-repeat: no-repeat; 
    display: inline-block; 
    height: 16px; 
    width: 20px;  
    vertical-align: middle;
    margin-right: 6px;
}

// Footer  fix //
.nhsuk-footer__list-item {
    float: left;
    margin-right: 32px;
}
.nhsuk-footer {
    padding-bottom: 24px;
    padding-top: 24px;
    background-color: #d8dde0;
    border-top: 4px solid #005eb8;
    justify-content: space-between;
}
.nhsuk-footer .nhsuk-width-container {
    width: 100%;
    margin: 0 32px;
}
.nhsuk-footer__copyright {
    float: right;
    text-align: right;
    width: 25%;
}
.moj-button-menu__toggle-button {
    background-color: #fff;
    border: none;
    color: #005eb8;
    font-size: 1rem;
}
.govuk-button::before {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -4px;
    left: -2px;
    background: transparent;
}
.moj-button-menu__toggle-button:after {
    background-repeat: no-repeat;
    background-image: url(../images/icon-arrow-black-down.svg);
    content: "";
    fill: #005eb8;
    display: inline-block;
    height: 5px;
    margin-left: 10px;
    width: 10px;
    vertical-align: middle;
}
.moj-button-menu__toggle-button svg {
    fill: #005eb8;
}
.moj-button-menu [role=menu] {
    position: absolute;
    width: 200px;
    z-index: 10;
}
.moj-button-menu [aria-expanded=false] + [role=menu] {
    display: none;
}